

body {
  font-family: 'Cabin', Bold;
  background-color: #000000;
  background-image: url("../img/17580.jpg");
  background-size: cover;
  height: 100%;
    
  }
  .bg-header{
   background-color: #e0e0e0;


   
  }
  .h1{
    color:black
  }
  .link a{
    color:black

  }
  .nav{
   
  }
  .header .nav {
    background-color: black;
    position: fixed;
    top: 0;
  }
.navbar-nav{
    background-color: #f9fafb;
    

    
}
.nav-item {

  color:rgb(9, 9, 9);
  text-decoration: none;
}
.a nav-link {

  color:black;
  text-decoration: none;
}


.container-2 {
  display: flex;
  font: normal normal medium 50px/59px 'Cabin';
  letter-spacing: 0px;
  color: #eee7e7;
  max-width: 400px;
  margin: 0 auto;
  padding-bottom: 2%;
  padding-top: 2%;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  
}

#avatarImage {
  
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

form {
  display: flex;
  flex-direction: column;
  
  
  & input {
    margin-bottom: 10px;
    padding: 5px;
  }
  & button {
    padding: 10px 20px;
    background-color: #60c2e0;
  }
}

.calendar {
 
  max-width: 750px;
  height: 450px;
  margin: 0 auto;
  //overflow-y: scroll;
//border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  align-items: center;
  margin-top: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  opacity: 50%;
  
  
}



  
  
  .chat-container {
    max-width: 400px;
    height: 400px;
    margin: 0 auto;
    overflow-y: scroll;
  //border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    margin-top: 50px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    
    
  }
  
  .chat {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding:5px 10px;
    border-radius: 5px;
  }
  
  .recent-message {
    justify-content: flex-start;
    background-color: #e0e0e0;
  }
  
  .current-message {
    justify-content: flex-end;
    background-color: #60c2e0;
    color: #fff;
  }
  .message-date {
    font-size: 12px;
    margin-left: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    & input[type="text"] {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px;
      
    }
  }
   button {
    padding: 10px 20px;
    background-color: #60c2e0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  
  
  